#--------OAuth2.0 Client Configuration---------
scope=
grant_type=client_credentials
client_id=269sjZV3bJ4P6r1uPrgos4
client_secret=Mzg4NDU5MzI1M2IzNDY5ZTgwZGMzZmE4NjEzYWE1Mzk
access_token=
authentication_server_url=http://api.emisores.facturactiva.com/oauth2/token
#resource_server_url_documents=http://ap.emisores.facturactiva.com/emission/documents
#resource_server_url_summaries=http://ap.emisores.facturactiva.com/emission/summaries
#------------------------------------------------